@import '../../../styles.scss';

.Registra {
  @include registrar;
  .titulo{
    margin: 0;
  }
}

section {
  margin: 15px 0;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li {
  background-color: #999;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  transition: 1s;

  &:hover {
    background-color: rgb(155, 250, 13);
  }
}

span {
  font-size: 1.3rem;
  color: white;
}
