@import '../../styles.scss/';

.divRegistra{
  @include registrar;
}
.produtos{
  margin: 15px 0;
  ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 20px;
    a{
      color: #222;
      .listaProdutos{
        display: flex;
        gap: 10px;
        padding: 10px;
        border: 1px solid;
        min-height: 200px;
        border-radius: 5px;
        flex-wrap: wrap;
        p{
          text-transform: capitalize;
        }
        img{
          width: 200px;
          height: 200px;
          margin: 0 auto;
        }
        div{
          display: flex;
          gap: 15px;
          padding: 5px;
          justify-content: center;
          flex-direction: column;
        }
        button{
          padding: 8px;
          width: 250px;
          margin: 0 auto;
          border: none;
          border-radius: 2px;
          font-size: 1rem;
          color: white;
          background-color: rgb(69, 184, 31);
          cursor: pointer;
          &:hover{
            filter: brightness(0.9);
          }
        }
      }
    }

  }
}


